header{
    background-color: rgb(179, 57, 57);
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
nav{
    background-color: rgb(223, 223, 231);
    overflow: hidden;
    font-size: 18px;
    padding-left: 10%;
   
}
nav a{
    text-decoration: none;
    padding: 12px;
    text-align: center;
    float: left;
    color: rgb(0, 0, 0);
    
}



/* Search box */


.container{
    width: 100%;
    height: 100%;
    background: #fdfafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #ffffff;
    width: 600px;
    height: 55px;
    display: flex;

}
form input{
    flex: 1;
    border: none;
    outline: none;
    
}
form button{
    background: tomato;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: large;
}
form .fa-solid{
    align-self: center;
    padding: 10px 10px;
    color: #0a0a0a;

}
/* Style the news list */
.List-News {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    max-width: 800px;
    margin: 0 auto;

    
}
a{
color: rgb(185, 3, 3);
    
}


footer{
    background-color: rgb(37, 36, 34);
    padding: 15px;

}

#box{
    height: 380px;
    width: 300px;
    background-color: aqua;
    overflow: hidden;
}
#box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
    
    
}
#box:hover img{
    scale: 1.2;

}
